// SPACING SYSTEM (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

// FONT SIZE SYSTEM (px)
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
// */

$color-primary: #d4ecdd;
$color-secondary: #345b63;
$color-tertary: #152d35;
$color-dark: #112031;

// paddings

$padding-text-me: 9.6rem;

$svg-width: 15rem;

$transition-time: 1s;
