.contact {
  margin: 9.6rem auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 8rem;

  &__clipper {
    position: relative;
    transform: scale(0.8) translate(30%, -20%);
    background-color: $color-dark;
    clip-path: polygon(
      58% 86%,
      61% 84%,
      63% 80%,
      64% 74%,
      64% 42%,
      73% 40%,
      70% 48%,
      82% 38%,
      70% 28%,
      73% 35%,

      64% 36%,
      64% 9%,
      62% 5%,
      59% 3%,
      56% 2%,
      5% 2%,
      2% 3%,
      1% 4%,
      0% 9%,
      0% 74%,
      1% 81%,
      3% 85%,
      7% 86%
    );
  }
  &__img {
    width: 110%;
    transform: translateX(-30%);
    align-self: start;
    border-radius: 30px;
    border: 3px dashed $color-dark;
    z-index: -1;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &__info {
    width: 60%;
    margin: 5%;
    height: 100%;

    &-list {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 3fr;
      align-items: center;
      transform: translate(-5%);
      column-gap: 1.2rem;
      height: 60%;
      margin-top: 6.4rem;
    }

    &-text-linkedin,
    &-text-github {
      color: $color-primary;
    }
    &-header {
      padding-top: 2rem;
    }
  }

  .logo {
    width: 8rem;
    transform: scale(1.1);
    filter: invert(74%) sepia(100%) saturate(35%) hue-rotate(90deg)
      brightness(103%) contrast(95%);
    justify-self: end;
  }

  &__files {
    grid-column: 1/-1;
    justify-self: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    padding: 2rem 14rem;
    border-radius: 5px;
    background-color: $color-dark;

    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10rem;
      list-style: none;
      width: 100%;
      height: 100%;
      align-items: center;
    }
  }
}

.footer {
  text-align: center;
  background-color: $color-dark;
  color: $color-primary;
  font-size: 10px;
  height: 3rem;
  padding: 9px;
}
